@model List<MyPortfolio.DAL.Entities.Testimonial>

<div id="testimonial" class="s-testimonials">
    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">İnsanlar Benim İçin Ne Dediler?</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">
            @foreach(var Testimonial in Model)
            {

                <div class="testimonials__slide">
                    <img src="@Testimonial.ImageUrl" alt="Author image" class="testimonials__avatar">
                    <p>
                       @Testimonial.Description
                    </p>
                    <div class="testimonials__author h06">
                        @Testimonial.Name @Testimonial.Surname
                        <span>@Testimonial.Title, @Testimonial.SubTitle</span>
                    </div>
                </div>
            }
        </div> 
    </div> 
</div> 