@model MyPortfolio.Dtos.ContactDtos.GetByIdContactDto

<section id="contact" class="s-contact target-section">
    <div class="overlay"></div>

    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>İletişim</h3>
            <h1>@Html.DisplayFor(x=>x.Title)</h1>
            <p class="lead">@Html.DisplayFor(x=>x.Description)</p>
        </div>
    </div>

    <div class="row contact__main">
        @await Component.InvokeAsync("_AboutDefaultMessageFormLayoutComponentPartial")
        <div class="col-four tab-full contact__infos">
            <h4 class="h06">Telefon Numarası</h4>
            <p>
                Telefon: (+90) @Html.DisplayFor(x=>x.PhoneNumber)
            </p>

            <h4 class="h06">Email</h4>
            <p>
                @Html.DisplayFor(x=>x.Email)
            </p>

            <h4 class="h06">Adres</h4>
            <p>
                @Html.DisplayFor(x=>x.Address)
            </p>
        </div>
    </div>
</section> 